body {
  font-family: serif;
}
h1 {
  color: rgba(88, 87, 87, 0.993);
  font-size: 85px;
  margin: 0px;
}
h2 {
  color: rgba(88, 87, 87, 0.993);
  text-decoration: underline;
}
h3 {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}
a {
  color: black;
  text-decoration: underline;
}
a:hover {
  color: #000;
  text-decoration: underline;
}
p {
  color: black;
  text-decoration: none;
}
